.form-group {
    label {
        color: grey;
    }

    .form-control {
        border-color: #ececec;
    }
}

.sk-style-cancel-btn {
    background-color: #f7f7f7;
}

.sk-style-save-btn {
    background-color: #1b68b3;
    color: #fff;
    margin-left: 5px;
}

.sk-style-form-buttons {
    text-align: right;
}