<form *ngIf="loadedUserData" [formGroup]="userDataForm" (ngSubmit)="onSubmit(userDataForm)">
  <div class="form-group">
    <label for="name">{{ "name" | translate }}</label>
    <input
      class="form-control"
      formControlName="name"
      placeholder="{{ 'name-placeholder' | translate }}"
    />
  </div>

  <div class="form-group">
    <label for="email">{{ "email" | translate }}</label>
    <input
      class="form-control"
      formControlName="email"
      placeholder="{{ 'email-placeholder' | translate }}"
    />
  </div>

  <div class="form-group">
    <label for="phone">{{ "phone" | translate }}</label>
    <input
      class="form-control"
      formControlName="phone"
      placeholder="{{ 'phone-placeholder' | translate }}"
    />
  </div>

  <div class="form-group">
    <label for="address">{{ "address" | translate }}</label>
    <input
      class="form-control"
      formControlName="address"
      placeholder="{{ 'address-placeholder' | translate }}"
    />
  </div>

  <div class="form-group">
    <label for="company">{{ "company" | translate }}</label>
    <input
      class="form-control"
      formControlName="company"
      placeholder="{{ 'company-placeholder' | translate }}"
    />
  </div>

  <div class="form-group sk-style-form-buttons">
    <button
      *ngIf="!userDataForm.pristine"
      (click)="onCancel()"
      class="btn btn-light sk-style-cancel-btn"
    >
      {{ "cancel" | translate }}
    </button>
    <button
      type="submit"
      [disabled]="userDataForm.pristine"
      class="btn btn-light sk-style-save-btn"
    >
      {{ "save" | translate }}
    </button>
  </div>
</form>
