<div class="sk-style-users-container">
  <user-list
    class="sk-style-user-list"
    (onUserSelected)="userSelected($event)"
    [class.sk-style-no-user-selected]="!user"
    [class.sk-style-user-loaded]="user"
  ></user-list>
  <user-data-form [user]="user" class="sk-style-form-container container"></user-data-form>
</div>
