.sk-style-users-container {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .sk-style-user-list {
        overflow: auto;
        width: 115px;
    }

    .sk-style-form-container {
        flex: 1 1 calc(-115px + 100%);
        padding-top: 40px;
    }
}

@media (min-width: 768px) {
    .sk-style-user-list, .sk-style-form-container {
        flex: 1 1 50%;
    }
}