.sk-style-users-list {
  padding: 0;
}

.sk-style-user-item {
  list-style: none;
  padding: 5px;

  &:hover {
    cursor: pointer;
    background-color: #e8e8e8;
  }

  &.selected {
    background-color: #1b68b3;
  }

  .sk-style-user-wrapper {
    display: flex;

    .sk-style-user-data {
      display: none;
    }

    .sk-style-user-avatar {
      padding: 10px;

      img {
        max-height: 80px;
      }
    }
  }
}

@media (min-width: 768px) {
  .sk-style-user-item {

    &.selected {
        .sk-style-user-wrapper {
            .sk-style-user-data {
                color: #fff;
            }
        }
      }

    .sk-style-user-wrapper {
      .sk-style-user-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
