<div *ngIf="!users || users.length === 0">
    {{ 'name' | translate }}
</div>

<div *ngIf="users?.length > 0">
    <ul class="sk-style-users-list">
        <li *ngFor="let user of users" class="sk-style-user-item" [class.selected]="selectedUser?.id === user.id" (click)="select(user)">
            <div class="sk-style-user-wrapper">
                <div class="sk-style-user-avatar">
                    <img *ngIf="user.photo" [src]="user.photo" class="rounded-circle" />
                </div>
                <div class="sk-style-user-data">
                    <span class="sk-style-user-name">{{ user.name }}</span>
                    <span class="sk-style-user-email">{{ user.email }}</span>
                </div>
            </div>
        </li>
    </ul>
</div>